.white-button {
  font-family: 'Commissioner',Arial,sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #DEC377;
  padding: 10px 50px 10px 50px;
  border: 2px solid #DEC377;
  border-radius: 2px;
  background-color: #fff;
  outline: #DEC377;
  box-sizing: border-box;
}

.white-button:hover {
  cursor: pointer;
  opacity: .7;
}