@import url(./__link/phone__link.css);
@import url(./__number/phone__lnumber.css);
@import url(./__img/phone__img.css);

.phone {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 635px) {
  .phone {
    margin-left: 30px;
  }
}