<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="правовые технологии">
  <meta name="keywords" content="бизнес, юрист, консультации">
  <meta name="author" content="Ilya Buyak">
  <title>Правовые технологии</title>
  <link rel="shortcut icon" href="<%= require('./images/fav.png').default %>" type="image/x-icon">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>
<body class="wrapper">
 <header class="header">
   <div class="header__container">
     <p class="language">Язык <span class="language__name">русский &#8744;</span></p>
     <img class="eye" src="<%=require('./images/eye.svg').default%>" alt="глаз">
     <div class="phone">
       <div class="phone__images">
         <a class="phone__link phone__number" href="tel:+375447550101">+375 (44) 755-01-01</a>
         <a class="phone__link" href="tel:+375447550101">
           <img class="phone__img" src="<%=require('./images/A1.svg').default%>" alt="А1">
         </a>
         <a class="phone__link" href="viber://chat?number=+375447550101">
           <img class="phone__img" src="<%=require('./images/viber.svg').default%>" alt="viber">
         </a>
         <a class="phone__link" href="https://wa.me/+375447550101">
           <img class="phone__img" src="<%=require('./images/whatsapp.svg').default%>" alt="whatsapp">
         </a>
       </div>
       <div class="phone__images">
         <a class="phone__link phone__number" href="tel:+375295500101">+375 (29) 550-01-01</a>
         <a class="phone__link" href="tel:+375295500101">
           <img class="phone__img" src="<%=require('./images/mts.svg').default%>" alt="МТС">
         </a>
       </div>
     </div>
   </div>
   <div class="header__container">
     <a class="navigation__link" href="./index.html">
       <img class="logo" src="<%=require('./images/logo.svg').default%>" alt="логотип">
     </a>
     <nav class="navigation">
       <a class="navigation__link" href="./index.html">Главная</a>
       <a class="navigation__link" href="#about">О нас</a>
       <a class="navigation__link" href="#services">Услуги</a>
       <a class="navigation__link" href="#price">Тарифы</a>
       <a class="navigation__link" href="#info">Инфоцентр</a>
       <a class="navigation__link" href="#contcacts">Контакты</a>
       <button class="navigation__link navigation__button" type="button">
         <img class="navigation__img" src="<%=require('./images/search.svg').default%>" alt="поиск">
       </button>
       </li>
     </nav>
   </div>
 </header>
 <div class="slider">
   <section class="cover">
     <img class="cover__img" src="<%=require('./images/cover.png').default%>" alt="женщина в желтоп пиджаке сидит в кресле">
     <div class="cover__container">
       <h1 class="cover__title">Взыскание дебиторской задолженности</h1>
       <p class="cover__subtitle">Индивидуальный подход и нацеленность на достижение результата</p>
       <button class="orange-button" type="button">Подробнее</button>
     </div>
   </section>
   <section class="cover">
     <img class="cover__img" src="<%=require('./images/cover1.png').default%>" alt="Женщина в красном">
     <div class="cover__container">
       <h1 class="cover__title">Регистрация ООО</h1>
       <p class="cover__subtitle">Гарантируем минимальные сроки регистрации под ключ</p>
       <button class="orange-button" type="button">Подробнее</button>
     </div>
   </section>
   <section class="cover">
     <img class="cover__img" src="<%=require('./images/cover2.png').default%>" alt="Женщина в красном">
     <div class="cover__container">
       <h1 class="cover__title">Ликвидация предприятия</h1>
       <p class="cover__subtitle">Эффективное решение сложных задач</p>
       <button class="orange-button" type="button">Подробнее</button>
     </div>
   </section>
   <section class="cover">
     <img class="cover__img" src="<%=require('./images/cover3.png').default%>" alt="Женщина в красном">
     <div class="cover__container">
       <h1 class="cover__title">Юридическая консультация</h1>
       <p class="cover__subtitle">Детальные разъяснения вопросов по ведению бизнеса от профессионалов</p>
       <button class="orange-button" type="button">Подробнее</button>
     </div>
   </section>
   <section class="cover">
     <img class="cover__img" src="<%=require('./images/cover4.png').default%>" alt="Женщина в красном">
     <div class="cover__container">
       <h1 class="cover__title">Юридический аутсорсинг</h1>
       <p class="cover__subtitle">Гарантия своевременности и качества услуг</p>
       <button class="orange-button" type="button">Подробнее</button>
     </div>
   </section>
 </div>
 <main class="main grey-container">
   <ul class="cards cards__margin" id="about">
     <li class="card">
       <img class="card__img" src="<%=require('./images/safety.svg').default%>" alt="защита">
       <p class="card__title">Надежная защита</p>
     </li>
     <li class="card">
       <img class="card__img" src="<%=require('./images/reputation.svg').default%>" alt="медаль">
       <p class="card__title">Безупречная репутация</p>
     </li>
     <li class="card">
       <img class="card__img" src="<%=require('./images/result.svg').default%>" alt="мишень">
       <p class="card__title">Ориентированность на результат</p>
     </li>
     <li class="card">
       <img class="card__img" src="<%=require('./images/confidentiality.svg').default%>" alt="ключ">
       <p class="card__title">Абсолютная конфиденциальность</p>
     </li>
   </ul>
   <section class="about">
     <div class="about__container">
       <h2 class="about__title">Юридическое сопровождение бизнеса от «МК-Правовые технологии»</h2>
       <p class="subtitle about__margin">Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.</p>
       <p class="subtitle about__margin">Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.</p>
       <p class="subtitle about__margin">Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.</p>
       <p class="subtitle about__margin">Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.</p>
     </div>
     <img class="about__img" src="<%=require('./images/about.png').default%>" alt="лестница">
   </section>
   <section class="directions container">
     <h2 class="title">Основные направления деятельности</h2>
     <ul class="directions__cards">
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title">Взыскание долгов</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/debt.svg').default%>" alt="ладонь с монетами">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title directions__card-title">Реорганизация бизнеса</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/planning.svg').default%>" alt="планирование">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title directions__card-title">Продажа бизнеса</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/money.svg').default%>" alt="чек">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title directions__card-title">Юридические консультации</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/headphones.svg').default%>" alt="наушники">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title directions__card-title">Ликвидация организаций</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/box.svg').default%>" alt="коробка">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title directions__card-title">Разработка договоров</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/folder.svg').default%>" alt="папка">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title directions__card-title">Регистрация бизнеса</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/print.svg').default%>" alt="печать">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title">Юридический аутсорсинг</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/cup.svg').default%>" alt="кружка с горячим напитком">
       </li>
       <li class="directions__card">
         <div class="directions__card-content">
           <h3 class="card-title">Аттестация в строительстве</h3>
           <a class="card-link" href="#">Подробнее</a>
         </div>
         <img class="directions__card-img" src="<%=require('./images/home.svg').default%>" alt="дом">
       </li>
     </ul>
     <button class="orange-button" type="button">все услуги</button>
     <div class="directions__content">
       <h2 class="title">Основные направления деятельности</h2>
       <p class="subtitle directions__margin">Основной принцип нашей работы – максимальная открытость и доверительные отношения с каждым клиентом, с тем чтобы от начала и до конца совместной работы, не возникало никакого недопонимания. Мы ставим целью не только привлечение новых клиентов, но и поддержание длительных партнерских отношений с клиентами, которые уже воспользовались нашими услугами.
         <span class="directions__span">Быстрота анализа и профессиональных действий наших юристов обеспечивают успешное решение, казалось бы, неразрешимых вопросов. Богатые знания и солидный опыт позволяют нам оказывать комплексную правовую помощь в ситуациях любой сложности.</span>
       </p>
     </div>
     <div class="sliderPhoto">
       <img class="directions__img" src="<%=require('./images/directions.png').default%>" alt="Переговоры">
       <img class="directions__img" src="<%=require('./images/directions2.png').default%>" alt="девушка смотрит в компьютер">
       <img class="directions__img" src="<%=require('./images/directions3.png').default%>" alt="женщина и мужчина">
       <img class="directions__img" src="<%=require('./images/directions4.png').default%>" alt="компания людей сидит на диване">
       <img class="directions__img" src="<%=require('./images/directions5.png').default%>" alt="девушки смотрят в компьютер">
     </div>
   </section>
 </main>
 <section class="reviews container">
   <h2 class="title">Отзывы наших партнеров</h2>
   <ul class="reviews__cards sliderCards">
     <li class="reviews__card">
       <img class="reviews__card-img" src="<%=require('./images/reviews.jpg').default%>" alt="офисное помещение">
       <div class="reviews__card-content">
         <p class="reviews__card-subtitle">директор</p>
         <h3 class="reviews__card-title">С.В. Косачев</h3>
         <p class="reviews__card-maintext">Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...</p>
         <button class="reviews__card-button" type="button">читать далее</button>
       </div>
     </li>
     <li class="reviews__card">
       <img class="reviews__card-img" src="<%=require('./images/reviews.jpg').default%>" alt="офисное помещение">
       <div class="reviews__card-content">
         <p class="reviews__card-subtitle">глава представительства</p>
         <h3 class="reviews__card-title">Валерий Мяснянкин</h3>
         <p class="reviews__card-maintext">Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...</p>
         <button class="reviews__card-button" type="button">читать далее</button>
       </div>
     </li>
     <li class="reviews__card">
       <img class="reviews__card-img" src="<%=require('./images/reviews.jpg').default%>" alt="офисное помещение">
       <div class="reviews__card-content">
         <p class="reviews__card-subtitle">директор</p>
         <h3 class="reviews__card-title">С.В. Косачев</h3>
         <p class="reviews__card-maintext">Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...</p>
         <button class="reviews__card-button" type="button">читать далее</button>
       </div>
     </li>
     <li class="reviews__card">
       <img class="reviews__card-img" src="<%=require('./images/reviews.jpg').default%>" alt="офисное помещение">
       <div class="reviews__card-content">
         <p class="reviews__card-subtitle">глава представительства</p>
         <h3 class="reviews__card-title">Валерий Мяснянкин</h3>
         <p class="reviews__card-maintext">Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...</p>
         <button class="reviews__card-button" type="button">читать далее</button>
       </div>
     </li>
     <li class="reviews__card">
       <img class="reviews__card-img" src="<%=require('./images/reviews.jpg').default%>" alt="офисное помещение">
       <div class="reviews__card-content">
         <p class="reviews__card-subtitle">директор</p>
         <h3 class="reviews__card-title">С.В. Косачев</h3>
         <p class="reviews__card-maintext">Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...</p>
         <button class="reviews__card-button" type="button">читать далее</button>
       </div>
     </li>
     <li class="reviews__card">
       <img class="reviews__card-img" src="<%=require('./images/reviews.jpg').default%>" alt="офисное помещение">
       <div class="reviews__card-content">
         <p class="reviews__card-subtitle">глава представительства</p>
         <h3 class="reviews__card-title">Валерий Мяснянкин</h3>
         <p class="reviews__card-maintext">Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...</p>
         <button class="reviews__card-button" type="button">читать далее</button>
       </div>
     </li>
   </ul>
   <button class="orange-button" type="button">все отзывы</button>
 </section>
 <section class="partners container">
   <p class="partners__text">Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.</p>
   <button class="white-button" type="button">Наши партнеры</button>
   <ul class="partners__images">
     <li class="partners__item">
       <img class="partners__img" src="<%=require('./images/partner1.png').default%>" alt="логотип БауАренда">
     </li>
     <li class="partners__item">
       <img class="partners__img" src="<%=require('./images/partner2.png').default%>" alt="логотип Титан">
     </li>
     <li class="partners__item">
       <img class="partners__img" src="<%=require('./images/partner3.png').default%>" alt="логотип Фаворит">
     </li>
     <li class="partners__item">
       <img class="partners__img" src="<%=require('./images/partner4.png').default%>" alt="логотип Альфа Банк">
     </li>
     <li class="partners__item">
       <img class="partners__img" src="<%=require('./images/partner5.png').default%>" alt="Логотип IBA">
     </li>
   </ul>
 </section>
 <section class="info grey-container" id="info">
   <ul class="info__blocks">
     <li class="info__block">
       <h2 class="info__title">Просто объясним сложные вещи</h2>
       <p class="subtitle info__margin">В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.</p>
     </li>
     <li class="info__block">
       <h2 class="info__title">Надежно защитим права и интересы</h2>
       <p class="subtitle info__margin">Заказав комплексные юридические услуги в ООО «МК-Правовые технологии», можно больше не платить зарплату штатному юристу, страховые отчисления и налоги с его доходов. Можно не оплачивать отпуск, больничные и не беспокоиться о нахождении работника на рабочем месте в нужный момент.</p>
       <div class="rectangle"></div>
     </li>
     <li class="info__block info__block_flex">
       <h2 class="info__title">Вы платите только за результат!</h2>
       <p class="subtitle info__width">В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.</p>
     </li>
   </ul>
 </section>
 <img class="background" src="<%=require('./images/background.png').default%>" alt="блокнот и ручка">
 <section class="services grey-container" id="services">
   <div class="services__content container">
     <h2 class="title">Перечень оказываемых услуг</h2>
     <ul class="services__cards">
       <div class="services__card-container">
         <li class="services__card">
           <div class="square square__medium-opacity"></div>
           <h3 class="card-title">Регистрации ИП и юрлиц</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
         <li class="services__card services__card_width">
           <div class="square square__medium-opacity"></div>
           <h3 class="card-title">Ликвидация, реорганизация и продажа бизнеса</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
       </div>
       <div class="services__card-container">
         <li class="services__card">
           <div class="square square__low-opacity"></div>
           <h3 class="card-title">Взыскание дебиторской задолженности</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
         <li class="services__card">
           <div class="square square__low-opacity"></div>
           <h3 class="card-title">Письменные и устные консультации</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
       </div>
       <div class="services__card-container">
         <li class="services__card services__card_width">
           <div class="square"></div>
           <h3 class="card-title">Разработка уставных документов и внесение изменений в них</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
         <li class="services__card">
           <div class="square"></div>
           <h3 class="card-title">Ведение переговоров</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
       </div>
       <div class="services__card-container">
         <li class="services__card">
           <div class="square square__low-opacity"></div>
           <h3 class="card-title">Комплексное сопровождение бизнеса</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
         <li class="services__card">
           <div class="square square__low-opacity"></div>
           <h3 class="card-title">Сопровождение деловых сделок</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
       </div>
       <div class="services__card-container">
         <li class="services__card">
           <div class="square square__medium-opacity"></div>
           <h3 class="card-title">Лицензирование бизнеса</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
         <li class="services__card services__card_width">
           <div class="square square__medium-opacity"></div>
           <h3 class="card-title">Решение правовых споров</h3>
           <a class="card-link services__link" href="#">Подробнее</a>
         </li>
       </div>
     </ul>
     <div class="services__container">
       <p class="subtitle services__subtitle">Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.</p>
       <button class="orange-button" type="button">все услуги</button>
     </div>
   </div>
 </section>
 <section class="pluses container">
   <div class="pluses__container">
     <div class="pluses__content">
       <h2 class="title">Почему нам доверяют</h2>
       <p class="subtitle pluses__subtitle">Прозрачность и открытость для клиентов – наш принцип, который с самого начала исключает любые недопонимания. Мы тщательно продумали работу каждого юриста внутри коллектива, что обеспечивает высокое качество юридических услуг компании.</p>
     </div>
     <ul class="pluses__items">
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
          <p class="pluses__text">безупречная репутация</p>
       </li>
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">абсолютная конфиденциальность</p>
       </li>
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">внимание к каждому клиенту</p>
       </li>
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">успешный опыт решения нестандартных вопросов</p>
       </li>
     </ul>
   </div>
   <hr class="pluses__hr">
   <div class="pluses__container">
     <div class="pluses__content">
       <h2 class="title">Что получает клиент</h2>
       <p class="subtitle pluses__subtitle">Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.</p>
     </div>
     <ul class="pluses__items">
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">надежная защита бизнеса</p>
       </li>
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">актуальная правовая помощь</p>
       </li>
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">своевременная оценка рисков</p>
       </li>
       <li class="pluses__item">
         <img class="pluses__img" src="<%=require('./images/pluses.svg').default%>" alt="точка">
         <p class="pluses__text">компетентное решение правовых вопросов</p>
       </li>
     </ul>
   </div>
 </section>
 <section class="advantages grey-container">
   <div class="advantages__container container">
     <h2 class="title">Наши преимущества</h2>
     <ul class="cards">
       <li class="card">
         <img class="card__img" src="<%=require('./images/advantages1.svg').default%>" alt="документ">
         <p class="card__title">Лицензия на оказание юридических услуг</p>
       </li>
       <li class="card">
         <img class="card__img" src="<%=require('./images/advantages2.svg').default%>" alt="сотрудники">
         <p class="card__title">Опытные сотрудники</p>
       </li>
       <li class="card">
         <img class="card__img" src="<%=require('./images/advantages3.svg').default%>" alt="сообщение">
         <p class="card__title">Коммуникативные навыки – без труда открываем любые двери и быстро решаем нужные вопросы</p>
       </li>
       <li class="card">
         <img class="card__img" src="<%=require('./images/advantages4.svg').default%>" alt="карандаш">
         <p class="card__title">Скрупулезный поход к ведению документации</p>
       </li>
     </ul>
     <div class="advantages__content">
       <p class="subtitle">Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.</p>
       <div class="rectangle"></div>
     </div>
   </div>
 </section>
 <section class="partnership grey-container">
   <div class="partnership__container container">
     <div class="partnership__content">
       <h2 class="title">Организация сотрудничества</h2>
       <ul class="partnership__items">
         <li class="partnership__item">
           <img class="partnership__img" src="<%=require('./images/1.svg').default%>" alt="цифра 1">
           <p class="partnership__text">Установив контакт с нашим сотрудником, Вы оговорите нюансы предмета обсуждения и согласуете личную встречу.</p>
         </li>
         <li class="partnership__item">
           <img class="partnership__img" src="<%=require('./images/2.svg').default%>" alt="цифра 1">
           <p class="partnership__text">Юрист изучит документы, необходимые для разработки стратегии решения возникшей ситуации. И заключит договор.</p>
         </li>
       </ul>
       <p class="subtitle">Также в нашей компании возможна удаленная форма обслуживания с оказанием полного комплекса юридических услуг в РБ через современные средства связи и мессенджеры.</p>
     </div>
     <form class="form">
      <label for="name" class="form__label">Ваше имя</label>
       <input type="text" class="form__input" id="name" placeholder="Ваше имя">
       <label for="phone" class="form__label">Телефон для связи</label>
       <input type="text" class="form__input" id="phone" placeholder="+375 (XX) XXX-XX-XX">
       <p class="form__text">Нажимая на кнопку «Получить консультацию», вы соглашаетесь с условиями
         <span class="form__span">Политики конфиденциальности</span>
       </p>
       <button class="orange-button form__button" type="submit">Получить консультацию</button>
     </form>
   </div>
 </section>
 <section class="price grey-container" id="price">
    <div class="price__container container">
      <h2 class="title">Стоимость юридических услуг в Минске</h2>
      <p class="subtitle price__text">Стоимость услуг формируется согласно тарифам, установленным в компании и в зависимости от времени, затраченного юристом на разрешение возникшей ситуации. Принцип прозрачности делает наши цены обоснованными и понятными для клиента.</p>
      <button class="orange-button" type="button">Тарифы</button>
    </div>
 </section>
 <footer class="footer grey-container" id="contacts">
    <div class="footer__container container">
      <div class="footer__content">
        <h2 class="footer__title">ооо “мк-правовые технологии”</h2>
        <p class=footer__text><span class="footer__span">УНП </span>192710862</p>
        <p class=footer__text><span class="footer__span">Наш рейтинг </span>5 из 5 (15 отзывов)</p>
        <ul class="footer__images">
          <li class="footer__image">
            <a class="footer__link" href="https://vk.com/jurisprudent_by" target="_blank">
              <img class="footer__img" src="<%=require('./images/vk.svg').default%>" alt="иконка вконтакте">
            </a>
          </li>
          <li class="footer__image">
            <a class="footer__link" href="https://ok.ru/group/56436195721452" target="_blank">
              <img class="footer__img" src="<%=require('./images/ok.svg').default%>" alt="иконка одноклассники">
            </a>
          </li>
          <li class="footer__image">
            <a class="footer__link" href="https://www.linkedin.com/groups/8780234/" target="_blank">
              <img class="footer__img" src="<%=require('./images/linkedin.svg').default%>" alt="иконка линкедин">
            </a>
          </li>
          <li class="footer__image">
            <a class="footer__link" href="https://jurisprudent.by" target="_blank">
              <img class="footer__img" src="<%=require('./images/instagram.svg').default%>" alt="иконка инстаграм">
            </a>
          </li>
          <li class="footer__image">
            <a class="footer__link" href="https://www.youtube.com/channel/UCyq8oJkkMILcI8F53AWe_xA/videos" target="_blank">
              <img class="footer__img" src="<%=require('./images/youtube.svg').default%>" alt="иконка ютуб">
            </a>
          </li>
          <li class="footer__image">
            <a class="footer__link" href="https://www.facebook.com/jurisprudent.by/" target="_blank">
              <img class="footer__img" src="<%=require('./images/facebook.svg').default%>" alt="иконка фэйсбук">
            </a>
          </li>
        </ul>
        <a class="footer__nav" href="#">
          <p class="footer__nav-text">Карта сайта</p>
          <img class="footer__nav-img" src="<%=require('./images/arrow.svg').default%>" alt="стрелка вправо">
        </a>
        <a class="footer__nav" href="#">
          <p class="footer__nav-text">Политика конфиденциальности</p>
          <img class="footer__nav-img" src="<%=require('./images/arrow.svg').default%>" alt="стрелка вправо">
        </a>
      </div>
      <div class="footer__places">
        <h3 class="footer__subtitle footer__subtitle_grid">наши офисы</h3>
        <div class="footer__card">
          <h4 class="footer__card-title">Контакты в Минске</h4>
          <a href="tel:+375447550101" class="footer__card-text">+375 (44) 755-01-01</a>
          <a href="tel:+375295500101" class="footer__card-text">+375 (29) 550-01-01</a>
          <a href="tel:+375173744060" class="footer__card-text footer__margin">+375 (17) 374-40-60</a>
          <h5 class="footer__card-subtitle">Адрес</h5>
          <p class="footer__card-text">г. Минск, ул. Широкая, д. 3, пом. 146, оф. 4</p>
          <h5 class="footer__card-subtitle">Телефон для связи резидентов Российской Федерации</h5>
          <p class="footer__card-text footer__margin">whatsapp +7 (989) 166 24 00</p>
          <h6 class="footer__card-email">info@jurisprudent.by</h6>
        </div>
        <div class="footer__card-wrapper">
          <div class="footer__card">
            <h4 class="footer__card-title">отдел в Могилеве</h4>
            <h5 class="footer__card-subtitle">Адрес</h5>
            <p class="footer__card-text">г. Могилев, ул. Космонавтов, д. 19, оф. 507</p>
            <h6 class="footer__card-email footer__margin">mogilev@jurisprudent.by</h6>
          </div>
          <div class="footer__card">
            <h4 class="footer__card-title">Отдел в Бресте</h4>
            <h5 class="footer__card-subtitle">Адрес</h5>
            <p class="footer__card-text">г. Брест, б-р Шевченко, д. 4, оф. 401</p>
            <h6 class="footer__card-email footer__margin">brest@jurisprudent.by</h6>
          </div>
          <div class="footer__card">
            <h4 class="footer__card-title">Отдел в Витебске</h4>
            <h5 class="footer__card-subtitle">Адрес</h5>
            <p class="footer__card-text">г. Витебск, ул.Гоголя, д. 14, оф. 614</p>
            <h6 class="footer__card-email">vitebsk@jurisprudent.by</h6>
          </div>
        </div>
        <div class="footer__card-wrapper">
          <div class="footer__card">
            <h4 class="footer__card-title">Отдел в Гродно</h4>
            <h5 class="footer__card-subtitle">Адрес</h5>
            <p class="footer__card-text">г. Гродно, ул. Карла Маркса, д. 31-1, оф. 1010</p>
            <h6 class="footer__card-email footer__margin">grodno@jurisprudent.by</h6>
          </div>
          <div class="footer__card">
            <h4 class="footer__card-title">Отдел в Гомеле</h4>
            <h5 class="footer__card-subtitle">Адрес</h5>
            <p class="footer__card-text">г. Гомель, пр. Ленина, д. 10, оф. 901</p>
            <h6 class="footer__card-email">gomel@jurisprudent.by</h6>
          </div>
        </div>
      </div>
      <div class="footer__content">
        <h3 class="footer__subtitle footer__margin">время работы</h3>
        <div class="footer__card">
          <h5 class="footer__card-subtitle">Прием посетителей</h5>
          <p class="footer__card-text">Ежедневно с 8.00 до 19.00</p>
          <p class="footer__card-text footer__margin">Выходной: суббота - воскресенье.</p>
        </div>
        <div class="footer__card">
          <h5 class="footer__card-subtitle">Прием посетителей</h5>
          <p class="footer__card-text">Ежедневно с 8.00 до 22.00</p>
          <p class="footer__card-text footer__margin">Без выходных</p>
        </div>
        <div class="footer__card">
          <h5 class="footer__card-subtitle">Онлайн консультант</h5>
          <p class="footer__card-text">Круглосуточно 24/7</p>
          <p class="footer__card-text">Без выходных</p>
        </div>
      </div>
    </div>
 </footer>
 <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>