@import url(./__container/header__container.css);
@import url(./../eye/eye.css);
@import url(./../navigation/navigation.css);

.header {
  margin: 0 auto;
  max-width: 1170px;
  padding: 15px 20px 22px 20px;
}